body {
	padding:0px;
	border:0px solid #ccc;
	max-width:8.5in;
	position:relative;
    font-size:.6em;
    margin: 0px;
}

dt { 
	float: left; 
	margin: 0; 
	width:90px;	
} 
dd { 

	vertical-align:top;
	padding:0;
	margin-top:0;
	float:right;
	width:500px;
}

hr { display:none; }

.printhide { display:none;}

.printshow {display:block}

div {font-size:.9em;}
a {color:black; text-decoration:none; font-size:inherit}

@media print
{
  .page-break  { display:block; page-break-before:always; }
}

div.section {
	padding-left:10px;
	margin:40px 0px 0px 0px;
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 15mm 10mm 0mm 10mm;  
} 

#sectionheader {
	font-size:1.7em;
	padding:0px 0px 10px 0px;
}